# Global
REGISTRY=ghcr.io/yourorg
IMAGE_TAG=local
ENVIRONMENT=local

# FastAPI service
APP_NAME=svc-template-fastapi
BUILD_SHA=local
LOG_LEVEL=INFO
OTLP_ENDPOINT=
READINESS_DEPENDENCIES=
METRICS_AUTH_TOKEN=

# Node service
PORT=4000

# Next.js web
NEXT_PUBLIC_API_URL=http://localhost:4000
OTLP_ENDPOINT=
METRICS_AUTH_TOKEN=
